run = "npm start"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npm start"]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[env]
NODE_ENV = "production"
PORT = "5000"